src/bitOxide.MarioWiiPowerup.Javascript/html/bridge.min.js
src/bitOxide.MarioWiiPowerup.Javascript/html/bridge.meta.min.js
src/bitOxide.MarioWiiPowerup.Javascript/html/bitOxide.MarioWiiPowerup.Javascript.min.js
